@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&display=swap');

*,
html,
body {
  scroll-behavior: smooth;
}

/*Main Menu*/

.MenuDecoration:after {
  display: block;
  content: '';
  width: inherit;
  border-bottom: solid 3px white;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.MenuDecoration:hover:after {
  transform: scaleX(1);
}

/*Main Menu*/

.scrollPosition {
  padding-top: 60px;
  margin-top: -60px;
}

.PageMainContainer {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.homeSlide-desk {
  height: 650px;
  filter: brightness(0.7);
}

.content-homeSlide-desk {
  height: 650px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0rem;
}

.headerTextContent {
  max-width: 600px;
}

.homeSlide-mobile {
  display: none;
  filter: brightness(0.7);
}

.MainProductImage {
  height: 450px;
}


.swiper-pagination {
  bottom: 50px !important;
  width: 100%;
  left: 0 !important;
  top: auto !important;
  left: 0 !important;
  right: 0 !important;
  margin: auto !important;
  max-width: 1600px !important;
  text-align: start !important;
  --swiper-pagination-bullet-horizontal-gap: 18px;
}

.swiper-pagination-bullet {
  background-color: white !important;
  opacity: 1 !important;
  height: 15px !important;
  width: 15px !important;
  transform: scale(1) !important;
}

.swiper-pagination-bullet-active {
  background-color: #194092 !important;
  height: 15px !important;
  width: 15px !important;
  transform: scale(1) !important;
}

.categories-swiper .swiper-wrapper {
  padding-bottom: 32px;
}

.searchOverlay {
  top: 128px;
  z-index: 2;
  height: 100vh;
}

.businessPathDivisor {
  border: 1px rgba(0, 0, 0, 0.3) solid;
  border-left: none;
}

.businessPathItemDivisor {
  border: 2px rgba(0, 0, 0, 0.3) solid;
  border-bottom: none;
}

.videoContainer {
  height: 600px;
}

.videoItemsContainer {
  height: 600px;
}

.yt-main-img {
  height: 600px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
}

.yt-main-iframe {
  height: 600px;
  width: 100%;
  border-radius: .5rem;
}

.lty-playbtn {
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(/assets/IconoReproductorYoutube.png) !important;
  border-radius: 100% !important;
}

.lyt-activated {
  background-image: none !important;
}

.lyt-activated .lty-playbtn {
  display: none;
}


@media screen and (max-width: 1024px) {

  .content-homeSlide-desk {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  .swiper-pagination{
    text-align: center !important;
  }

  .headerTextContent {
    display: flex;
    justify-content: center;
    justify-items: center;
  }

  .homeSlide-desk {
    height: 650px;
  }

  .swiper-pagination-bullet {
    height: 12px !important;
    width: 12px !important;
  }

  .swiper-pagination-bullet-active {
    height: 12px !important;
    width: 12px !important;
  }
}

@media screen and (max-width: 768px) {
  .homeSlide-desk {
    display: none;
    height: 500px;
  }

  .homeSlide-mobile {
    display: block;
    height: 500px;
    min-height: 350px;
  }

  .content-homeSlide-desk {
    height: 500px;
  }

  .swiper-pagination-bullet {
    background-color: white !important;
    opacity: 1 !important;
    height: 12px !important;
    width: 12px !important;
    transform: scale(1) !important;
  }

  .swiper-pagination-bullet-active {
    background-color: #194092 !important;
    height: 12px !important;
    width: 12px !important;
    transform: scale(1) !important;
  }

  .categories-swiper .swiper-wrapper {
    padding-bottom: 0px;
  }

  .videoContainer {
    height: 400px;
  }

  .videoItemsContainer {
    height: 500px;
  }

  .yt-main-img {
    height: 400px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .yt-main-iframe {
    height: 400px;
    width: 100%;
  }
}